/*
 * First page preloader
 */
.amd-preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background: url('../images/loading/preloader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

/*
 * This class added into the element in preload state.
 */
.amd-preload {
	background: #999999 url("../images/loading/loader.gif") no-repeat center;
	min-height: 1px;
	min-width: 1px;
	pointer-events: none;
}

/*
 * This class added to elements in preload initialization
 */
.amd-preload-animate {
	/* transition: all linear 0.5s;*/
}