<div  
    mb-preloading="ctrl.loading"
    layout="column"
    flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
    <md-content
        mb-infinate-scroll="ctrl.loadNextPage()"
        layout="column"
        flex>
        <!-- Contents info -->
        <md-list flex>
            <md-list-item 
                ng-repeat="bank in ctrl.items track by bank.type"
                class="md-3-line">
                <img 
                    ng-src="{{bank.url|| ('images/bank/' + bank.symbol + '.svg')}}"
                    class="md-avatar"/>
                <div 
                    class="md-list-item-text" 
                    layout="column">
                    <h3>{{bank.title}}</h3>
                    <h4 ng-if="bank.name || bank.version">{{bank.name}}-{{bank.version}}</h4>
                    <p>{{bank.description}}</p>
                </div>
                <md-divider md-inset></md-divider>
            </md-list-item>
        </md-list>
	    <div
	        layout="column"
	        layout-align="center center"
	        ng-if="ctrl.state === 'ideal' && (!ctrl.items || ctrl.items.length == 0)">
	        <h2 translate="">No item found</h2>
	    </div>
    </md-content>
</div>
