<md-content
    class="md-padding"
    layout-padding
    flex>
    <mb-titled-block
        ng-if="!ctrl.edit"
        mb-progress="ctrl.loading"
        mb-title="{{'Gate'| translate}}"
        layout="column">

        <div layout="row" 
             layout-xs="column" 
             layout-align-xs="center center" 
             layout-padding>
            <img 
                width="100px" 
                height="100px" 
                style="border-radius: 10px"
                ng-src="{{gate.symbol|| gate.url|| ('images/bank/' + gate.symbol + '.svg')}}" />
            <table>
                <tr>
                    <td translate="">ID  </td>
                    <td>: {{gate.id}}</td>
                </tr>
                <tr>
                    <td translate="">Title </td>
                    <td>: {{gate.title}}</td>
                </tr>
                <tr>
                    <td translate="">Description  </td>
                    <td>: {{gate.description}}</td>
                </tr>
            </table>
        </div>
        <div layout-gt-xs="row"
             layout="column">
            <span flex></span>
            <md-button 
                class = "md-raised md-accent"
                ng-click="remove()">
                <span translate="">Delete</span>
            </md-button>
            <md-button 
                class = "md-raised md-primary"
                ng-click="ctrl.edit = true">
                <span translate="">Edit</span>
            </md-button>
        </div>
    </mb-titled-block>
    <mb-titled-block 
        ng-if="ctrl.edit"
        mb-progress="working"
        mb-title="{{'Edit gate'| translate}}"
        layout="column">
        <form
            name="myForm"
            ng-action="update(config)"
            layout="column" 
            flex>
            <md-input-container>
                <label tranlate="">Title </label>
                <input ng-model="gate.title" name="title" required></input>
                <div ng-messages="myForm.title.$error">
                    <div ng-message="required" translate="">This field is required.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label tranlate="">Description</label>
                <input ng-model="gate.description"></input>
            </md-input-container>

            <wb-ui-setting-image
                title="{{'Image'| translate}}" 
                wb-ui-setting-clear-button="true"
                wb-ui-setting-preview="true"
                ng-model="gate.symbol">
            </wb-ui-setting-image>

            <div layout="row">
                <span flex></span>
                <md-button 
                    class="md-raised" 
                    ng-click="ctrl.edit = false;load()">
                    <span translate="">Cancel</span>
                </md-button>
                <md-button
                    class="md-raised md-primary" 
                    ng-disabled="myForm.$invalid"
                    ng-click="update()">
                    <span translate="">Update</span>
                </md-button>
            </div>
        </form>
    </mb-titled-block>
</md-content>