<div
    ng-if="ctrl.status !== 'working'"
    mb-infinate-scroll="nextPage()"
    layout="column"
    flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
	    <md-list flex>
	        <md-list-item 
	            ng-repeat="gate in ctrl.items"
	            class="md-3-line" 
	            ng-href="{{'bank/gates/' + gate.id}}">
	            <img 
	                ng-src="{{gate.url || gate.symbol || ('images/bank/' + gate.symbol + '.svg')}}" 
	                class="md-avatar"/>
	            <div 
	                class="md-list-item-text" 
	                layout="column">
	                <h3>{{gate.title}}</h3>
	                <h4>{{gate.home}}</h4>
	                <p>{{gate.description}}</p>
	            </div>
	            <md-button 
	                class="md-icon-button"
	                ng-click="remove(gate)"
	                ng-aria="Remove gate">
	                <wb-icon>delete</wb-icon>
	            </md-button>
	            <md-divider md-inset></md-divider>
	        </md-list-item>
	    </md-list>
		<div 
		    layout="row"
		    flex="100"
		    layout-align="center center"
		    ng-if="ctrl.status === 'working'">
		    <md-progress-circular 
		        md-diameter="96"> Loading ...
		    </md-progress-circular>
		</div>
	</md-content>
</div>
