<div
	layout="column" 
	mb-preloading="ctrl.loadingReceipts"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
    <md-content
        mb-infinate-scroll="ctrl.loadNextPage()"
        layout="column"
        flex>
		<md-list 
			flex 
			ng-if="!ctrl.loadingReceipts && ctrl.items.length">
			<md-list-item
				ng-repeat="item in ctrl.items" 
				class="md-3-line">
				<wb-icon>{{item.status == 'payed' ? 'check_circle' : 'attach_money'}}</wb-icon> 
				<div class="md-list-item-text" layout="column">
					<h3>{{item.title}}</h3>
					<h4>{{'Amount' | translate}}: {{item.amount}}</h4>
					<p>{{item.creation_dtime | mbDate:'jYYYY-jMM-jDD'}}</p>
				</div>
				<md-divider md-inset></md-divider>
			</md-list-item> 
		</md-list>
		<div layout="column" ng-if="!ctrl.loadingReceipts && !ctrl.items.length">
			<h3 style="text-align: center" translate="">Nothing found.</h3>
		</div>
	</md-content>
</div>


