/*
 * 
 */
.requst-new {
	background-color: #fce94f;
}

/*
 *
 */
.requst-check {
	background-color: red;
}

/*
 *
 */
.requst-waiting {
	background-color: #204a87;
}

/*
 *
 */
.requst-schedule {
	background-color: #204a87;
}

/*
 *
 */
.requst-fail {
	background-color: red;
}

/*
 *
 */
.requst-fixed {
	background-color: red;
}

/*
 *
 */
.requst-close {
	background-color: #fce94f;
}

/*
 *
 */
.requst-workshop-check {
	background-color: green;
}

/*
 *
 */
.requst-in-queue {
	background-color: green;
}

/*
 *
 */
.requst-repairing {
	background-color: green;
}

/*
 *
 */
.requst-giving-back {
	background-color: green;
}